In [4]:
import pandas as pd
%matplotlib inline

In [14]:
df = pd.read_csv('full_weather_data.csv', sep='\t')
df.time = pd.to_datetime(df.time)

In [15]:
df.head()

,time,temperature,weather,wind_speed,humidity,pressure
0,2018-03-01 00:00:00,-11,Passing clouds.,9.0,67.0,1011.0
1,2018-03-01 01:00:00,-11,Passing clouds.,9.0,67.0,1010.0
2,2018-03-01 02:00:00,-11,Partly cloudy.,8.0,67.0,1010.0
3,2018-03-01 03:00:00,-11,Passing clouds.,8.0,67.0,1008.0
4,2018-03-01 04:00:00,-11,Partly cloudy.,7.0,67.0,1008.0

In [16]:
df.dtypes

time           datetime64[ns]
temperature             int64
weather                object
wind_speed            float64
humidity              float64
pressure              float64
dtype: object

In [17]:
df.describe()

       temperature   wind_speed     humidity     pressure
count  6094.000000  6091.000000  6076.000000  6093.000000
mean     14.766984     3.524709    67.301350  1015.454456
std       7.549205     2.032698    19.337399     7.483321
min     -11.000000     0.000000    20.000000   990.000000
25%      10.000000     2.000000    52.000000  1012.000000
50%      15.000000     3.000000    68.000000  1016.000000
75%      20.000000     5.000000    83.000000  1020.000000
max      35.000000    19.000000   100.000000  1038.000000